@charset "UTF-8";
body .policy-skin .policy{
	padding-top:16px;
}
body .policy-skin .policy>div>span{
	color:#fff;
	display: inline-block;
	line-height: 84px;
}
body .policy-skin .policy .layui-form-label{
	color:#8396BB;
}
body .policy-skin .add{
	width:152px;
	
}
body .policy-skin  .layui-input{
	background-color:#1F294E;
	border:none;
	color:#12B66E;
}
body .policy-skin .layui-input::-webkit-input-placeholder{
    color:#fff;
}
body .policy-skin .layui-input:-moz-placeholder{
    color:#fff;
}
body .policy-skin .layui-input::-moz-placeholder{
    color:#fff;
}
body .policy-skin .layui-input:-ms-input-placeholder{
    color:#fff;
}
body .policy-skin  .inquirebtn{
 	width:152px;
	color:#62A4FF;
	border:#62A4FF 1px solid;
	border-radius: 4px;
	background: none;
	margin-left:20px;
}
body .policy-skin .inquirebtn:hover{
	color:#fff;
}
body .policy-skin ul li{
	margin:18px 0;
}
body .policy-skin ul li span{
	display: inline-block;
	height:44px;
	line-height: 44px;
	color:#fff;
	border-radius: 4px;
	background-color: #1E284F;
	width: 100%;
	padding-left:10px;
}
body .policy-skin .layui-breadcrumb a{
	color:#8396BB !important;
}
body .policy-skin .layui-breadcrumb a cite{
	color:#fff;
}
body .policy-skin .layui-bg-black{
	background-color: #000 !important;
	margin:30px 0;
}
body .policy-skin .policyinput{
	margin-bottom: 40px;
}
body .policy-skin .policyinput .layui-form-label{
width:100px;
}
body .policy-skin .policyinput .layui-input{
	width:60%;
	display: inline-block;
}
body .policy-skin .policyinput text{
	color:#8396BB;
	margin-left:10px;
}
body .policy-skin .policyinput .add{
	margin-top:15px;
}
body .policy-skin .parameter .policyinput .layui-input{
	width:100%;
	display: inline-block;
}
body .policy-skin .parameter{
	padding-top:40px;
}

/*parameterSecond*/
body .policy-skin .policySecond .layui-elem-quote{
	color:#12B66E;
	margin-bottom:24px;
    line-height: 12px;
    border-left: 4px solid #12B66E;
    border-radius: 0 2px 2px 0;
    padding:0;
    padding-left:16px;
    font-size: 14px;
    background:none;
    margin-top:48px;
}

body .policy-skin .policySecond .layui-input{
	width:100%;
}
body .policy-skin .policySecond .layui-form-label{
	width:100px;
}
body .policy-skin .policySecond{
	padding-top:48px;
}
body .policy-skin .policySecond .policyinput .add{
	    margin-top: 65px;
}
